.oe_timesheet_weekly .table > tbody > tr > td[class=""]{
    border: 1px solid #ddd;
}
.oe_timesheet_weekly_box{
    text-align: center;
}
.oe_timesheet_weekend{
    background-color: rgba(24, 171, 105, 0.48);
    height:100%;
}
.oe_timesheet_weekly .table-condensed > thead > th,
.oe_timesheet_weekly .table-condensed > tbody > th,
.oe_timesheet_weekly .table-condensed > tfoot > th,
.oe_timesheet_weekly .table-condensed > thead > td,
.oe_timesheet_weekly .table-condensed > tbody > td,
.oe_timesheet_weekly .table-condensed > tfoot > td {
    padding: 2px;
}
.oe_timesheet_weekly > table > tbody > tr:hover {
    background-color: rgba(255, 158, 0, 0.44);
}
.table-condensed > tbody > tr > td > p{
    margin: 0 0 0px;
    overflow-y: hidden;
    height: 18px;
    text-overflow: ellipsis;
    word-break: break-word;
}

.oe_timesheet_weekly .oe_timesheet_weekly_account {
    padding-right: 10px;
}
